[Unit]
Description=VPN Telegram Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/mm-b/Workspace/vpn
Environment=PYTHONPATH=/home/mm-b/Workspace/vpn/app
EnvironmentFile=/home/mm-b/Workspace/vpn/.env
ExecStart=/home/mm-b/Workspace/vpn/.venv/bin/python -m app.main
Restart=on-failure
User=mm-b

[Install]
WantedBy=multi-user.target
